<div class="container mx-auto pt-1 px-5 pb-3">
  <div class="w-full mx-auto my-2">
    <div
      class="flex-col px-3 pt-0 pb-2 card lg:card-side bg-base-200 shadow-md relative"
    >
      <div class="absolute right-4 top-4">
        <a
          href="/blog/edit/<%= blog._id %>"
          class="btn btn-md btn-success mr-2 text-white no-underline"
          >Edit</a
        >
        <form
          action="/blog/delete/<%= blog._id %>?_method=DELETE"
          method="POST"
          style="display: inline"
        >
          <button type="submit" class="btn btn-md btn-danger">Hapus</button>
        </form>
      </div>
      <div>
        <h2 class="card-title mb-2"><%= blog.title %></h2>
        <p class="text-sm text-gray-500 mb-4">
          By <%= blog.author %> on <%= new
          Date(blog.createDate).toLocaleDateString() %>
        </p>
        <div class="markdown-content">
          <%- contentHtml %>
          <!-- Tampilkan HTML yang sudah di-render -->
        </div>
        <div class="categories">
          Categories:
          <ul>
            <% blog.categories.forEach(category => { %>
            <li><%= category %></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
