<div class="container mx-auto p-5">
  <div class="w-full mx-auto my-2">
    <div class="flex-col p-3 card lg:card-side bg-base-200 shadow-md">
      <div>
        <h2 class="card-title mb-2"><%= blog.title %></h2>
        <p class="text-sm text-gray-500 mb-4">
          By <%= blog.author %> on <%= new Date(blog.createDate).toLocaleDateString() %>
        </p>
        <div class="markdown-content">
          <%- contentHtml %>
          <!-- Tampilkan HTML yang sudah di-render -->
        </div>
        <div class="categories">
          Categories:
          <ul>
            <% blog.categories.forEach(category => { %>
            <li><%= category %></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
